.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #002b49;
  position: fixed;
}
.flex-column {
  align-items: center;
  padding-top: 50px;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
}
